<h1> Swear Word Filter</h1>
<p> {{ text | swearWordFilter }}</p>

<p>{{ "What the fuck is going on. Everything is going goddamn hell." | swearWordFilter : true }}</p>


<main>
    <article>
        <h2>Best Swearing Quotes Ever</h2>
        <h3>(don't tell my mother)</h3>
        "Life is a four letter word” – Lenny Bruce Even Lenny Bruce, the master of profanity, knew how to be subtle. But sometimes subtlety simply doesn’t cut it…

        <p>{{ "Fuck is my chisel.” – Irish comedian Tommy Tiernan explaining to an American audience why he needs to swear." | swearWordFilter : true }}</p>

        <p>{{ "I say we grease this rat-fuck son of a bitch right now.” – Hudson (Bill Paxton) in Aliens" | swearWordFilter : true }}</p>

        <p>{{ "You had best unfuck yourself and start shitting me Tiffany cufflinks or I will definitely fuck you up!” – Gunnery Sergeant Hartman (Lee Ermey) in Full Metal Jacket " | swearWordFilter : true }}</p>

        <p>{{ "Was it legal? FUCK legal! Not nice? FUCK nice! The nation says I’m not nice? FUCK THE NATION!” – Roy Cohn (Al Pacino) in Angels in America" | swearWordFilter : true }}</p>

        <p>{{ "Your mother sucks cocks in hell!” – Regan (Linda Blair) in The Exorcist" | swearWordFilter : true }}</p>

        <p>{{ "Life does not start and stop at your convenience, you miserable piece of shit.” – Walter Sobchak (John Goodman) in The Big Lebowski" | swearWordFilter : true }}</p>

        <p>{{ "Shut that cunt’s mouth or I’ll come over there and fuckstart her head.” – Mr Parker (Ryan Phillipe) in The Way of the Gun" | swearWordFilter : true }}</p>

        <p>{{ "Fuck me? Fuck you! Fuck you and this whole city and everyone in it!” – Monty Brogan (Ed Norton) in 25th Hour" | swearWordFilter : true }}</p>

        <p>{{ "Fucking Eric Schmidt is a fucking pussy. I’m going to fucking bury that guy, I have done it before and I will do it again. I’m going to fucking kill Google.” – Steve Ballmer, CEO of Microsoft" | swearWordFilter : true }}</p>

        <p>{{ "You have a look in your eye like you haven’t been fucked in a year.” – Tony Montana (Al Pacino) in Scarface" | swearWordFilter : true }}</p>

        <p>{{ "(if you work in advertising or marketing) You are fucked and you are fucking us. Kill yourself, it’s the only way to save your fucking soul. Kill yourself” – Bill Hicks" | swearWordFilter : true }}</p>

        <p>{{ "I’ll send you a love letter straight from my heart, fucker. Do you know what a love letter is? It’s a bullet from a fuckin’ gun, fucker. If you receive a love letter from me, you are fucked forever. Do you understand, fuck? I’ll send ya straight
            to hell, fucker!” – Frank Boothe (Dennis Hopper) in Blue Velvet" | swearWordFilter : true }}</p>

        <p>{{ "Your mother sucks big fuckin’ elephant dicks, you got that?” – Joey LaMotta (Joe Pesci) in Raging Bull" | swearWordFilter : true }}</p>

        <p>{{ "So I say live and let live… Anyone who can’t go along with that, take him outside and shoot the motherfucker.” – George Carlin" | swearWordFilter : true }}</p>

        <p>{{ "Things are fucked up at the North Pole. Mrs Claus caught me fucking her sister, now I’m out on my ass.” – Willie (Billie Bob Thornton) in Bad Santa" | swearWordFilter : true }}</p>

        <p>{{ "We will fuck him. Do you hear me? We will fuck him. We will ruin him. Like no-one has ever fucked him!” – Karl Rove, senior advisor to George W Bush" | swearWordFilter : true }}</p>

        <p>{{ "What’s the big deal? It doesn’t hurt anybody. Fuck, fuckity, fuck-fuck-fuck!” – Eric Cartman in South Park Bigger, Longer and Uncut Quality swearing compiled for you at https://angryaussie.wordpress.com" | swearWordFilter : true }} </p>
    </article>
</main>